POSTGRES_DB='{{ nextcloud_db_name }}'
POSTGRES_USER='{{ nextcloud_db_user }}'
POSTGRES_PASSWORD='{{ nextcloud_db_pass }}'
# This fixes chmod errors on DB startup due to volume + userns-remap
PGDATA='/var/lib/postgresql/data/pgdata'
