JWT_ENABLED=true
JWT_SECRET={{ nextcloud_docs_secret_key | mandatory }}

# WARNING: Magic value, when DB_HOST is 'localhost' local DB is started.
DB_TYPE=postgres
DB_HOST={{ nextcloud_docs_cont_db_host }}
DB_PORT={{ nextcloud_docs_cont_db_port }}
DB_NAME={{ nextcloud_docs_cont_db_name }}
DB_USER={{ nextcloud_docs_cont_db_user | mandatory }}
DB_PWD={{ nextcloud_docs_cont_db_pass | mandatory }}
