#!/usr/bin/env bash
# vim: set ft=sh:
export PGPASSWORD='{{ hedgedoc_db_pass }}'
export PGHOST='127.0.0.1'
export PGPORT='{{ hedgedoc_db_cont_port }}'
export PGUSER='{{ hedgedoc_db_user }}'
export PGDATABASE='{{ hedgedoc_db_name }}'
